<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
<h2 style = "text-align:center;">Collaboration in a team environment</h2>
<p>Midway through the computer science program at SNHU, I was surprised to find that many of the courses did not focus on coding, but on the way that software development teams functioned. These were not my favorite courses because I really wanted to code, but I did learn alot about the structure, process, and collaborative nature that teams employ. I am confident that I can seamlessly collaborate with members of diverse teams.</p>
